<!DOCTYPE html>
<html>
<head>
  <title>Admin Page | {{defaults.sysName}}</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/defaults.css">
  <link rel="stylesheet" type="text/css" href="css/navbar.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>



  
</head>

<body>
  <div class="navbar">
    <ul>
      <li><a href="/">{{defaults.sysName}}</a></li>
      <div style="float:right">
        <li><a href="/auth/google">Log In</a></li>
        <li><a href="/logout">Log Out</a></li>
      </div>
    </ul>
  </div>
  {{#auth}}
  <div class="container">
    <h2>
      {{#message}}
        <p>{{message}}</p>
      {{/message}}
    </h2> 
  </div>
  {{/auth}}
<!-- 
  <div class= "container">
    <canvas id="histogram" style="width:100%;max-width:700px"></canvas>
  </div> -->

 <script type="text/javascript" src="/histogram.js"></script>

 <div class="container">
    <!-- Job Content Here -->
     <form action="/deleteJob" method = "POST">
      <table>
        <tr>
        <th>Jobs</th>
      </tr>

          {{#jobs}}
            <tr>
              <td>
                <input type="radio" id="jobName" name="jobName" value="{{id}}">
              </td>

              <td>
    <p>{{name}}</p>
              </td>
            </tr>
          {{/jobs}}
      </table>
        <input type="submit" value="Delete Job">
    </form>
  </div>

  <div class="container">
    <!-- add job Content Here -->
      <form action="/addJob" method ="POST">
        <b>Add a Job</b>
          <input name="jobName" type="text" autocomplete="off" placeholder="Enter new Job...">
          <input type="submit" value="Create New Job">
      </form>
  </div>




  <div class="container">
    <!-- task Content Here -->
     <form action="/deleteTask" method = "POST">
      <table>
        <tr>
        <th>Tasks</th>
      </tr>

          {{#tasks}}
            <tr>
              <td>
                <input type="radio" id="taskName" name="taskName" value="{{id}}">
              </td>

              <td>
                <p>{{name}}</p>
              </td>
            </tr>
          {{/tasks}}
      </table>
        <input type="submit" value="Delete task">
    </form>
  </div>

  <div class="container">
    <!-- add task Content Here -->
      <form action="/addTask" method ="POST">
        <b>Add a Task</b>
          <input name="taskName" type="text" autocomplete="off" placeholder="Enter new task...">
          <input type="submit" value="Create New Task">
      </form>
  </div>

<div class="container">
  <!-- qr code generation content here -->
 <a href="/qrGen/1">Generate Job-Task QR Code</a> </br>
</div>
</br>

<div class="searchBar">
<b> Filter Results</b></br>&nbsp;
    <form  id="searchForm" action="/searchTimesheet" method="POST">
  <input type="submit" formaction="default_url_when_press_enter" style="visibility: hidden; display: none;">
        <select name="weekId">
            <option value="-1">All Weeks</option>
            {{#nominalWeeks}}
            <option value="{{id}}"{{#selected}}selected{{/selected}}>{{name}}</option>
            {{/nominalWeeks}}
          </select>

           or

          <select name="userId">
            <option value="-1">All Users</option>
            {{#users}}
            <option value="{{id}}"{{#selected}}selected{{/selected}}>{{name}}</option>
            {{/users}}
          </select>  

          <select name="jobId" >
            <option value="-1">All Jobs</option>
            {{#jobs}}
            <option value="{{id}}"{{#selected}}selected{{/selected}}>{{name}}</option>
            {{/jobs}}
          </select>  


          <select  name="taskId" >
            <option value="-1">All Tasks</option>
            {{#tasks}}
            <option value="{{id}}"{{#selected}}selected{{/selected}}>{{name}}</option>
            {{/tasks}}
          </select>

          <!-- <select  name="inventory" >
            <option value="-1">All Inventory</option>
            {{#inventory}}
            <option value="{{id}}"{{#selected}}selected{{/selected}}>{{name}}</option>
            {{/inventory}}
          </select> -->

          
            <b>From:</b> <input type="date" name="startDate" value="{{startDate}}"><b>To:</b>&nbsp;
          
            <input type="date" name="endDate" value="{{endDate}}">

          <button type="submit" name="search" formaction="/admin"><i class="fas fa-search"> </i></button>
          <button type="submit" name="download" formaction="/searchTimesheetToCSV"><i class="fas fa-download"> </i></button>
        </form>
</div>


{{#searchScroll}}
  <script>
$("#searchResults").css("border-color", "red");
  </script>
  {{/searchScroll}} 


<div id = "searchResults" class = "container" >


  
  <table>
    <tr>
        <th>
          Date
        </th>
       <th>
        Start Time
      </th>
         <th>
        End Time
      </th>
       <th>
        Job - task
      </th>
        <th>        
        Name
      </th>
       <th class="hoverMe">
        Duration
      </th>
    </tr>
  

   

    {{#results}}
          <tr>
            <td>{{date}}</td>
            <td>{{clock_in}}</td>
            <td>{{clock_out}}</td>
            <td>{{name}} - {{taskname}}</td>
            <td>{{username}}</td>
             <td>{{duration}}</td>
             <td class="overflow-hidden">{{notes}}</td>
          </tr>
    {{/results}}
  </table>
</div>


<!-- <div class="container">
  <h3>Inventory</h3>
  <form action="/updateInventory" method="POST">
    <table>
    <th>
      <tr>
        <td>
        QR Code
      </td>
       <td>
        Item
      </td>
        <td>
          Quantity   
        </td>
        <td>
          Reorder
        </td>
        <td>
          <p title="when the threshold is reached, order requests will be sent"> Order Threshold</p>
        </td>  
    </tr>
    </th>
    {{#inventory}}
          <tr>
            <input name="id" type="text" value="{{id}}" hidden>
            <td>
        


                <img class = "zoom-in-out-box"style=".hover:" id='barcode' 
            src="https://api.qrserver.com/v1/create-qr-code/?data={{defaults.domain}}/inventoryQR/{{id}}/&amp size=100x100" 
            alt="" 
            title="{{item_name}}" 
            width="50" 
            height="50" /> 

            </td>
            <td><input name="item_name" type="text" autocomplete="off" value="{{name}}"  ></td>
            <td><input name="quantity" type="text" autocomplete="off" value="{{quantity}}" ></td>
          
              <td><input name="reorder" value="{{id}}" type="checkbox" {{#reorder}}checked{{/reorder}}></td>
            <td><input name="threshold" type="text" autocomplete="off" value="{{threshold}}" ></td>
             <td><a href="/deleteInventory/{{id}}">
              <i class="fas fa-trash"> </i></td>
          </tr>
    {{/inventory}}
  </table>
      <input type="submit" value="Update Inventory">

</form>
</div>

  <div class="container">

      <form action="/addInventoryItem" method ="POST">
        <b>Add an inventory Item</b>
          <input name="itemName" type="text" autocomplete="off" placeholder="Enter new inventory item...">
           <input name="quantity" type="text" autocomplete="off" placeholder="Enter a quantity">
           <input name="reorder" type="checkbox" autocomplete="off" >
          <input type="submit" value="Create New Inventory Item">
      </form>
  </div>

<div class="container">
  <h3>Order Email Options</h3>
  {{#email}}
  {{/email}}
</div>
 -->


<div class="container">
  <h3>Users</h3>

    <table>
    <th>
      <tr>

      <td>
        modify
      </td>
       <td>
        Name
      </td>
        <td>
          User Type   
        </td>
        <td>
          Email
        </td>
 

    </tr>
    </th>
    {{#users}}
          <tr>
    
              <td><a href="/modifyUser/{{id}}">edit</a></td> 

              <td> {{name}} </td>
            <td> {{user_type}} </td>
            <td> {{email}} </td>

          
             <td>{{#clockedIn}}Clocked In {{/clockedIn}} {{^clockedIn}}Clocked Out {{/clockedIn}}</td>

          </tr>
    {{/users}}
  </table>
</div> </br>





</body>
</html>
