<!DOCTYPE html>
<html>
<head>
  <title> Main | {{defaults.sysName}}</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/defaults.css">
  <link rel="stylesheet" type="text/css" href="css/navbar.css">
  <link rel="stylesheet" type="text/css" href="css/dropdown.css">


  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script>
    function toggleMaterial(materialId, checkbox) {
      console.log("Material toggled: " + materialId.material);

      var isChecked = checkbox.checked ? 1 : 0;
      
      $.post("/toggle-material", { material_id: materialId, applied: isChecked })
        .done(function() {
          console.log("Material toggled: " + materialId);
        })
        .fail(function() {
          console.log("Failed to toggle material: " + materialId);
        });
    }
  </script>


  <script>

    var subject_id = 0;
    var material_id = 0;
    /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

function add_subject(id) {
  subject_id = id;
  console.log("Adding material for: " + subject_id);
  // use jquery to set the text of element selected_material to the name of the material
  $("#selected_subject").text("Selected subject: " + id);

}

function add_material(id){
  console.log("added material_id " + id + " for subject " + subject_id);
  material_id = id;
  //alert("added material_id " + id + " for subject " + subject_id);
  $("#selected_material").text("Selected material: " + id);
}

function add_material_subject(){
  // post subject_id and material_id
  console.log("adding material " + material_id + " to subject " + subject_id);

  if (material_id != 0 && subject_id != 0){
    $.post("/add-material-subject", {material_id: material_id, subject_id: subject_id})
      .done(function() {
        console.log("Material added to subject: " + material_id + " " + subject_id);
      })
      .fail(function() {
        console.log("Failed to add material to subject: " + material_id + " " + subject_id);
      });
  } else {
    console.log("Material or subject not selected");
  }

}


</script>


</head>
<body>
  <div class="navbar">
    <ul> 
      <li><a href="/">{{defaults.sysName}}</a></li>
      {{#isAdmin}} <li><a href="/admin">admin</a></li> {{/isAdmin}} 
      <li><a href="/dashboard">dashboard</a></li>
      <div style="float:right">
        <li><a href="/auth/google">Log In</a></li>
        <li><a href="/logout">Log Out</a></li>
      </div>
    </ul>
  </div>

 



  <div class="container">


    {{#takeoff}}
      <h1>{{name}}</h1> </br>
      
      {{owner}}</br>
      {{owner_billing_address}}</br>
      {{created_at}}</br>
      </br>
    {{/takeoff}}

    <div >
    <p id = "selected_material">No material selected </p> <br>
    <p id = "selected_subject">No subject selected </p> <br>

    <!-- button that when you click it runs a js function -->
    <button onclick="add_material_subject()">Add Material to Subject</button>

  </div>

          <div class="dropdown" style = "block">
          <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Material Library</button>
        <div id="myDropdown" class="dropdown-content">
          <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
            

          {{#materials}}
            <!-- a link that when you click it it runs a js function -->
            <a href="#" onclick="add_material({{id}})">{{name}} <i style= "font-size: 6;">${{cost}}/gal </i></a>

          {{/materials}}
        </div>
        </div>
        </div>


<br>
<br>

<br>
<br>
  

    <table>
      <tr>
        <th>Name</th>
        <th>Measurement</th> 
        <th>Option</th> 
        <th>Primary Material</th> 

        <th>

      </th>

      </tr>
      {{#subjects}}
      <tr>
        <td>{{material_name}}</td> 
        <td>{{measurement}} {{measurement_unit}}</td>
        <td>
          <label class="switch">
            <input type="checkbox" 
                   onchange="toggleMaterial({{id}}, this)" 
                   {{#applied}}checked{{/applied}}>
            <span class="slider round"></span>
          </label>
        </td>
        
        <td>
         {{#primary_material}} <a onclick="remove_material({{id}})"> {{primary_material}} <input style="width=50%;" type="text" value="{{primary_material_cost}}"> </a>{{/primary_material}} </br>
        
          {{#secondary_material_name}} <a onclick="remove_material({{id}})"> {{secondary_material_name}} <input style="width=50%;" type="text" value="{{secondary_material_cost}}"> </a>{{/secondary_material_name}} </br>

         
             {{#tertiary_material_name}} <a onclick="remove_material({{id}})"> {{tertiary_material_name}} <input style="width=50%;" type="text" value="{{tertiary_material_cost}}"> </a>{{/tertiary_material_name}} </br>

                
        </td>
        <td>
          <!-- add material button runs js function called addMaterial and passes in the subject_id -->
          <button onclick="add_subject({{id}})">Add Material</button> 
        </td>

      </tr>
      {{/subjects}}
      {{^subjects}}
      No subjects found
      {{/subjects}}
    </table>


  </div>



 

</body>
</html>
