<!DOCTYPE html>
<html>

<head>
  <title>Edit Takeoff | {{defaults.sysName}}</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/defaults.css">
  <link rel="stylesheet" type="text/css" href="css/navbar.css">
  <link rel="stylesheet" type="text/css" href="css/dropdown.css">

  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- sweet alert -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/frankeno/xsalert@main/src/themes/light-theme.css">
  <script src="https://cdn.jsdelivr.net/gh/frankeno/xsalert@main/src/xsalert.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/editTakeoff.js" type="text/javascript"></script>
  <script> loadTakeoffMaterials('{{takeoff_id}}'); </script>


</head>

<body>
  <input type="hidden" id="takeoff_id" value="{{takeoff_id}}">
  <div class="navbar">
    <ul>
      <li><a href="javascript:history.back()">Back</a></li>
      <li><a href="/">{{defaults.sysName}}</a></li>
      {{#isAdmin}} <li><a href="/admin">admin</a></li> {{/isAdmin}}
      <div style="float:right">
        <li><a href="/auth/google">Log In</a></li>
        <li><a href="/logout">Log Out</a></li>
      </div>
    </ul>
  </div>


  <div id="notesModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="notesModalLabel">Notes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeNotesModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <textarea id="notesTextArea" class="form-control" rows="6" placeholder="Enter your notes here..."></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeNotesModal()">Close</button>
          <button type="button" class="btn btn-primary" onclick="saveNotes()">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    {{#takeoff}}
    <input type='hidden' id='takeoff_id' value='{{takeoff_id}}'>

    <input type='text' class="titleInput" id='takeoff_name' onchange='updateTakeoffName()' value='{{name}}'></br>

    Owner: <input type='text' class="hiddenInput" id='takeoff_owner_name' onchange='updateTakeoffOwnerName()'
      value='{{givenName}}'></br>
    Billing Address: <input type='text' style="width:375px" class="hiddenInput" id='owner_billing_address'
      onchange='updateTakeoffBillingAddress()' value='{{billing_address}}'></br>
    Owner Email Address: <input type='text' class="hiddenInput" id='owner_email_address'
      onchange='updateTakeoffOwnerEmailAddress()' value='{{primary_email_address}}'></br>
    Invoice Email Address: <input type='text' class="hiddenInput" id='invoice_email_address'
      onchange='updateTakeoffInvoiceEmailAddress()' value='{{invoice_email_address}}'></br>
    </br>

    <div class="float-right" style="text-align: right;">
      <h1 class="h4" id="sum"></h1>
      <h1 class="h5" id="materialTotal"></h1>

      <h1 class="h5" id="laborTotal"></h1>
      <h1 class="h5" style="color:green;" id="laborAdjusted"></h1>

            <!-- profit -->
            <h1 class="h5" id="grossProfit"></h1>
            <h1 class="h5" id="grossProfitMargin"></h1>

            <h2 class = "h5" id="raw-material-cost"></h2>
            <h2 class = "h5" id="supervision-cost"></h2>
            <h2 class = "h5" id="cost-of-goods-sold"></h2>

    
      <div style="margin-left: 20px;">
        {{#takeoff}}
        <div style="display: flex; align-items: center;">
          <label for="laborRate" style="width: 150px; white-space: nowrap;">Labor Rate:</label>
          <input type="range" id="laborRate" name="slider" min="0" max="500" value="{{labor_rate}}" oninput="changeLaborRateHelper(this.value)" style="width: 200px;">
          <span id="laborRateValue" style="display: inline; width: 70px;">{{labor_rate}}$/Hr</span>
        </div>
        <br>

        <div style="display: flex; align-items: center;">
          <label for="laborMarkup" style="width: 150px; white-space: nowrap;">Labor Markup:</label>
          <input type="range" id="laborMarkup" name="slider" min="0" max="100" value="{{labor_markup}}" oninput="changeLaborMarkupHelper(this.value)" style="width: 200px;">
          <span id="laborMarkupValue" style="display: inline; width: 70px;">{{labor_markup}}%</span>
        </div>
        <br>

        <div style="display: flex; align-items: center;">
          <label for="materialMarkup" style="width: 150px; white-space: nowrap;">Material Markup:</label>
          <input type="range" id="materialMarkup" name="slider" min="0" max="100" value="{{material_markup}}" oninput="updateMaterialMarkupHelper(this.value)" style="width: 200px;">
          <span id="materialMarkupValue" style="display: inline; width: 70px;">{{material_markup}}%</span>
        </div>
        <br>

        <div style="display: flex; align-items: center;">
          <label for="supervisionMarkup" style="width: 150px; white-space: nowrap;">Supervisor Markup:</label>
          <input type="range" id="supervisionMarkup" name="slider" min="0" max="100" value="{{supervisor_markup}}" oninput="updateSupervisorMarkupHelper(this.value)" style="width: 200px;">
          <span id="supervisorMarkupValue" style="display: inline; width: 70px;">{{supervisor_markup}}%</span>
        </div>
        <br>

        <div style="display: flex; align-items: center;">
          <label for="touchupsCost" style="width: 150px; white-space: nowrap;">Touchups:</label>
          <input type="range" id="touchupsCost" name="slider" min="0" max="5000" value="{{touchups_cost}}" oninput="updateTouchupsCostHelper(this.value)" style="width: 200px;">
          <span id="touchupsCostValue" style="display: inline; width: 70px;">${{touchups_cost}}</span>
        </div>
        <br>

        <div style="display: flex; align-items: center;">
          <label for="miscMaterialCost" style="width: 150px; white-space: nowrap;">Misc Materials:</label>
          <input type="range" id="miscMaterialCost" name="slider" min="0" max="5000" value="{{misc_materials_cost}}" oninput="updateMiscMaterialCostHelper(this.value)" style="width: 200px;">
          <span id="miscMaterialCostValue" style="display: inline; width: 70px;">${{misc_materials_cost}}</span>
        </div>
        <br>

        <div style="display: flex; align-items: center;">
          <label for="profit" style="width: 150px; white-space: nowrap;">GB Profit:</label>
          <input type="range" id="profit" name="slider" min="0" max="100" value="{{profit}}" oninput="updateProfitHelper(this.value)" style="width: 200px;">
          <span id="profitValue" style="display: inline; width: 70px;">{{profit}}%</span>
        </div>
        <br>

  
    <!-- travel extra -->


      <label for="slider">Travel Extra:</label>
      <input type="number" id="travelExtra" name="travelExtra" value="{{travel_cost}}"
        onchange="updateTravelExtra(this.value)">
    </br>
    <div>
      <label for="tax" style="width: 150px; white-space: nowrap;">Tax:</label>
      <input type="number" id="tax" name="tax" min="0" max="100" value="{{tax}}" onchange="updateTaxHelper(this.value)" style="width: 70px;">
    </div>
    <br>

   
    {{/takeoff}}
    </div>

    </div>
    
  

    {{^file_path_of_plans}}
    <div class="upload_plans">
      <form action="/uploadPlans" method="post" enctype="multipart/form-data">
        <input type="hidden" name="takeoff_id" value="{{takeoff_id}}">
        <input type="file" name="plans" /></br>
        <input type="submit" value="Upload Plans">
      </form>

      {{/file_path_of_plans}}

      {{#file_path_of_plans}}
      <!-- delete icon that calls deletePlans(); -->
      <a href="{{sys.domain}}/plans/{{file_path_of_plans}}">View Plans</a>
      <i class="fa fa-trash" onclick="deletePlans()"></i>

      {{/file_path_of_plans}}

    </div>


    </br>
    {{/takeoff}}



    <!-- as a get request, changed from material settings to settings -->
    <div style="display: flex; gap: 10px;">
      <form action="/settings" method="POST">
        <input type="hidden" name="takeoff_id" value="{{takeoff_id}}">
        <input type="submit" value="Settings">
      </form>

      <form action='/generateEstimate' method='POST'>
        <input type='hidden' name='takeoff_id' value='{{takeoff_id}}'>
        <input type="submit" value="Generate Estimate" style="float:right; background-color: rgb(31, 193, 31);">
      </form>
    </div>

    




<br>
  <div id = "paintOrder">
    <table id="paintOrderTable">
      <tr>
      </tr>
    </table>
  </div>

  <br>

  <table id="takeoff_materials_table">

    <tr>


    </tr>


    {{^subjects}}
    No subjects found
    {{/subjects}}
  </table>




  <br>

  <div class="container" style="margin: 20px; ">
    <!-- add subject button with add icon -->
    <!-- on click, the form appears  -->
    <button id="add-subject-btn" onclick="createSubjectIntent()">
      <i class="fa fa-plus"></i> Add Subject
    </button>

    <!-- hidden add subject form  -->
    <form id="add-subject-form" style="display: none;" onsubmit="return createSubject(event);">
      <input type="hidden" name="takeoff_id" id="takeoff_id" value="{{takeoff_id}}">
      <input type="text" name="subject_name" id="subject_name" placeholder="Subject Name">
      <input type="text" name="measurement" id="measurement" placeholder="Measurement (sqft)">
      <input type="text" name="labor_cost" id="labor_cost" placeholder="Labor Cost ($)/sqft">
      <!-- Unit dropdown -->
      <select name="measurement_unit" id="measurement_unit">
        <option value="sqft">sqft</option>
        <option value="lf">lf</option>
        <option value="ea">ea</option>
      </select>
      <button type="submit"
        style="background-color: green; color: white; border: none; padding: 10px; border-radius: 5px;">
        <i class="fa fa-check"></i> Add
      </button>
    </form>
  </div>

  <div id="materialLibrary" class="dropdown-content">
    <!-- close button -->
    <a href="#" onclick="closeDropdown()"><span><i class="fa fa-times"></i></span></a>
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">


    {{#materials}}
    <!-- a link that when you click it it runs a js function -->
    <a href="#" onclick="add_material({{id}})">{{name}} <i style="font-size: 6;">${{cost}} </i> - <i>{{coverage}} sqft</i></a>
    {{/materials}}
  </div>




</body>

</html>