<!DOCTYPE html>
<html>
<head>
  <title> Main | {{defaults.sysName}}</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/defaults.css">
  <link rel="stylesheet" type="text/css" href="css/navbar.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
<script src="
https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js
"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <p id="clock_in" style="display: none;">{{clock_in}}</p>

  <script>


  </script>
</head>
<body>
  <div class="navbar">
    <ul> 
      <li><a href="/">{{defaults.sysName}}</a></li>
      <li><a href="/admin">admin</a></li>
      <li><a href="/">clock in</a></li>
      <div style="float:right">
        <li><a href="/auth/google">Log In</a></li>
        <li><a href="/logout">Log Out</a></li>
      </div>
    </ul>
  </div>
  {{#auth}} 
  <div class="container">
    <h2>
      {{#message}}
        <p>{{message}}</p>
      {{/message}}
    </h2> </br>
  {{/auth}}
   

   <table>
    <tr>
      <th>
        Date
      </th>
      <th>
        Duration
      </th>

    </tr>
    {{#hours}}
    <tr>
      <td>
        {{clock_in}}
      </td>
      <td>
        {{duration}}
      </td>
    </tr>
    {{/hours}}

   </table>






</body>
</html>

