<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paid Invoice</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
    </div>

    <div class="container mt-5">
        {{#invoice}}
        <div class="card">
            <div class="card-header">
                Invoice
            </div>
            <div class="card-body">
                <h5 class="card-title">Invoice Number: {{invoice_number}}</h5>
                <p class="card-text">Name: {{invoice_name}}</p>
                <p class="card-text">Invoice Created: {{created_at}}</p>
                <p class="card-text">Payment Method: {{invoice_payment_method}}</p>
                <p class="card-text">Amount: {{total}}</p>
            </div>
        </div>
        {{/invoice}}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>