<!DOCTYPE html>
<html>
<head>
    <title> Quickbooks API | {{defaults.sysName}}</title>
    <link rel="apple-touch-icon icon shortcut" type="image/png" href="https://plugin.intuitcdn.net/sbg-web-shell-ui/6.3.0/shell/harmony/images/QBOlogo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./css/common.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<div class="container">
    <h1>
    </h1>
    <hr>
    <div class="well text-center">
        <h1>Quickbooks Integration</h1>
        <br>
    </div>
    <p>Now click the <b>Connect to QuickBooks</b> button below.</p>
    <a class="imgLink" href="#" id="authorizeUri" ><img src="/C2QB_green_btn_lg_default.png" width="178" /></a>
</div>

<script type="text/javascript">
    (function() {
        function authorizeUri() {
            var jsonBody = {};
            jsonBody.clientId = $('#clientId').val();
            jsonBody.clientSecret = $('#clientSecret').val();
            jsonBody.environment = $('#environment').val();
            jsonBody.redirectUri = $('#redirectUri').val();

            $.get('/authUri', {json:jsonBody}, function (uri) {
                console.log('The Auth Uris is :'+uri);
            })
            .then(function (authUri) {
                var parameters = "location=1,width=800,height=650";
                parameters += ",left=" + (screen.width - 800) / 2 + ",top=" + (screen.height - 650) / 2;
                var win = window.open(authUri, 'connectPopup', parameters);
                var pollOAuth = window.setInterval(function () {
                    try {
                        if (win.document.URL.indexOf("code") != -1) {
                            window.clearInterval(pollOAuth);
                            win.close();
                            location.reload();
                        }
                    } catch (e) {
                        console.log(e)
                    }
                }, 100);
            });
        }

        document.getElementById('authorizeUri').addEventListener('click', function response(e) {
            e.preventDefault();
            authorizeUri();
        });
    })();
</script>
</body>
</html>
