<!DOCTYPE html>
<html>
<head>
  <title>Thanks for your order!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/defaults.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/js/return.js" defer></script>
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div id="success" class="alert alert-success hidden" role="alert">
          <h4 class="alert-heading">Thank you for your order!</h4>
          <p>
            We appreciate your business! A confirmation email will be sent to <span id="customer-email"></span>.
          </p>
          <hr>
          <p class="mb-0">
            If you have any questions, please email <a href="mailto:orders@example.com" class="alert-link">//some contact email//@sunpaintingva.com</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>