this user (user_type = 2) has the following rolls

<ul>
    <li>add subcontractors to the system (form with name, email, phone)</li>
    <li>view subcontractors in the system (table with name, email, phone) and modify them</li>
        <li> manager selects a subcontractor and can see the set of forms that the subcontractor has completed</li>

    <li>add job and known bid to the set of jobs</li>
    <li> assign subcontractors to a set of jobs such that the bid section of the form is pre-populated with bids, and then they just provide a bid amount</li>

    <li> add isManager middleware</li>



</ul>