<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sun Painting Estimate</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="/css/estimateStyle.css">
        <link rel="stylesheet" href="/css/bottomNavbar.css">
    <script src="/js/viewEstimateClient.js"></script>
    <!-- <script src="/js/checkout.js"></script> -->

     <!-- sweet alert -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/frankeno/xsalert@main/src/themes/light-theme.css">
  <script src="https://cdn.jsdelivr.net/gh/frankeno/xsalert@main/src/xsalert.js"></script>

</head>

<body>
    <div class="container">

         <div class="image-container">
            <img src="/sunpainting_logo_blue.png" alt="Sun Painting Logo">
        </div>
        <p>1819 Broadway St, Charlottesville, VA 22902 US</p>
        <p>Phone: +1 434-207-2025 | Email: <a href="mailto:sales@sunpaintingva.com" style="color:#000000;">sales@sunpaintingva.com</a></p>
        <p>Website: <a href="http://www.sunpaintingva.com" style="color:#000000;">www.sunpaintingva.com</a></p>

        
         {{#takeoff}}
       <input type='hidden' id='takeoff_id' value='{{takeoff_id}}'>

       <input type='hidden' id='takeoff_total' value='{{takeoff_total}}'>

      <h2 style="text-align:left">{{name}}</h2> </br>
    </br>
   
      Owner:  {{customer_givenName}}</br>
      Billing Address: {{customer_billing_address}}</br>

      </br>
    {{/takeoff}}

        <table id="estimate-table">
            <tr>
                <th>Description</th>


                <th>Amount</th>
            </tr>
            <tr>
                <td class="editable" id="proposal-includes">
                    <ul id="includes-list"></ul>
                </td>
                <td id="includes-total">{{includes_total}}</td>
            </tr>
            <tr>
                <td class="editable" id="exclusions">
                    <ul id="exclusions-list"></ul>
                </td>
                <td id="excludes-total"></td>
            </tr>
        </table>
    </br>
    </br>
        <table id="options-table">
            <tr>
                <th>Description</th>


                <th>Amount</th>
            </tr>
        </table>

        <div class="total" style="text-align: right;" >
            <h3 class="total" id = "subtotal"></h3>
            <h3 class="total" id = "options-total"></h3>
            <h3 class="total" id = "optionsTax"></h3>
            <h3 class="total" id = "materialTax">Material Tax: ${{materialTax}}</h3>

            <h2 class="total" id = "total"></h2>

            <!-- <h3 class="total" id = "total" onchange="updateTotal()">$</h3> </br> -->

        </div>
    </br>
       
  
    <div class="customer-section">
        <h3>Additional Information</h3>
        <label for="customerPhone">Phone Number:</label>
        <input type="tel" id="customerPhone" class="input-field" value="{{takeoff.customer_phone}}" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" class="input-field" value="{{takeoff.customer_primary_email_address}}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
        <br>
        <label for="startDate">Preferred Start Date:</label>
        <input type="date" id="startDate" class="input-field" value="" onchange='changeStartDate();'>
        <br>
    </div>

    

        <!-- no adding rows on the client -->
        <!-- <button id="add-row-btn" onclick="addOption({{estimate.takeoff_id}})">Add Row</button> -->

        <!-- Signature section with IDs for signature input -->
        <div class="signature">
            <p><em>This budget estimate is not a contract until signed and returned to Sun Painting.</em></p> </br>
            <p>

                <!-- scrollable text area div -->
                <div id = "terms">

                </div>
            </br>
        </br>
            <!-- <p style="float:up;">[{{takeoff.owner}}]</p> -->
            <label for="signature"><strong>Authorized Signature:</strong></label>
            <input type="text" id="signature" value='' placeholder="{{takeoff.customer_givenName}}">
            <label for="signedDate"><strong> &nbsp Date:</strong></label>
            <input type="date" id="signedDate">
            <i class="loader" style="margin-bottom: -10px; margin-left:2px"></i>
            <!-- submit button that calls handleSig.. -->
            <button class="sign-btn" onclick="handleSignatureChange()">Sign</button>
            </p>
        </div>

        <div class="signature-success">
            
           <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"> <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/> <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
             </svg>
             <p style="text-align:center;"> Signature successfully saved!</p>
        
       </div>


            <!-- a PAY NOW button that posts to /create-payment-intent -->
             <!-- <form action="/checkMeout" method="post">
                 hidden takeoff if -->
                <!-- <input type='hidden' id='takeoff_id' value='{{takeoff_id}}'>
            <button id="pay-now" type="submit">Pay Now</button>
             </form> -->

            <!-- input box labeled 'Amount to pay' that, when user enters a number, it calulates the percentage of the total and the remaining amount -->

        <div id = "initial-payment-alert" class = "modal">
            <div class = "modal-content">
                Would you like to pay the 20% deposit now?</br></br>
               
               <button class="pay-now-button" onclick="createPaymentIntent('card')">Pay With Card</button> 
               <button class="pay-now-button" onclick="createPaymentIntent('us_bank_account')">Pay With ACH</button> 
            
                <button class="pay-now-button" onclick="$('#initial-payment-alert').toggle();">Pay Later</button>
            </div>

        </div>

        <!-- <div id = "payment-buttons" style = "text-align: center;">
            <button id="pay-now-button" onclick="createPaymentIntent('card')">Pay With Card</button> 
            <button id="pay-now-button" onclick="createPaymentIntent('us_bank_account')">Pay With ACH</button>
        </div> -->


      

    
    </div>
</br>
</br>
</br>
</br>

</br>
</br>
</body>
</html>
