<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Order Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    

    <!-- jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- XSAlert -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/frankeno/xsalert@main/src/themes/light-theme.css">

    <!-- navbar -->
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/defaults.css">

    <script src="https://cdn.jsdelivr.net/gh/frankeno/xsalert@main/src/xsalert.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



    <script>
function shareChangeOrderWithClient(){

    const change_order_id = $('#change_order_id').val();

    console.log(change_order_id);

    XSAlert({
        title: 'Email Confirmation',
        message: 'Are you sure you want to share this change order with the client?',
        icon: 'warning',
     }).then((value) => {
        console.log("dialogue output",value);
        if(value == "ok"){

            $.post('/shareChangeOrderWithClient', {change_order_id: change_order_id}, function(data) {
                console.log("twas the email sent?",data);
                if (data == "email sent") {
                    XSAlert({
                        title: 'Email Sent',
                        message: 'The change order has been sent to the client.',
                        icon: 'success',
                    });
                } else {
                    XSAlert({
                        title: 'Error',
                        message: "The change order could not be sent. Please set an owner email.",
                        icon: 'error',
                    });
                }
                
            });

        }
    });
}
    </script>
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
        <ul>
            <li><a href="javascript:history.back()">Back</a></li>
            <li><a href="https://youtu.be/3zDkMfjyfaU?si=2nBjVTSEArqtvWm2">{{defaults.sysName}}</a></li>
           


        </ul>
    </div>
</br>
</br>


    <div class="container mt-5">
        <h2>Change Order Details</h2>
        <input type="hidden" id="change_order_id" value="{{change_order.id}}">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {{#change_order}}
              
                <tr>
                    <td>Name</td>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{description}}</td>
                </tr>
                
                <tr>
                    <td>CO Number</td>
                    <td>{{co_number}}</td>
                </tr>
          
                <tr>
                    <td>Status</td>
                    <td>{{^status}} Not {{/status}} Approved  </td>
                </tr>
                <tr>
                    <td>Change Order Total</td>
                    <td>{{change_order_total}}</td>
                </tr>
                <tr>
                    <td>Created At</td>
                    <td>{{created_at}}</td>
                </tr>
                {{/change_order}}
            </tbody>
        </table>

        <h3>Change Order Items</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {{#change_order_items}}
                <tr>
                    <td>{{number}}</td>
                    <td>{{description}}</td>
                    <td>{{quantity}}</td>
                    <td>{{cost}}</td>
                    <td>{{total}}</td>
                </tr>
                {{/change_order_items}}
            </tbody>
        </table>

        <button class="btn btn-outline-primary mt-3" id="shareWithClient" onclick="shareChangeOrderWithClient()">Share with Client</button>
        <button class="btn btn-outline-secondary mt-3" data-toggle="modal" data-target="#editChangeOrderModal">Change Status</button>

        <!-- delete change order button -->
        <button class="btn btn-outline-danger mt-3" id="deleteChangeOrderBtn">Delete Change Order</button>

        <!-- download change order button -->
        <button class="btn btn-outline-success mt-3" id="downloadChangeOrderBtn">Download Change Order</button>
        
    </div>



    <!-- modal edit changeOrder -->
    <div class="modal fade" id="editChangeOrderModal" tabindex="-1" role="dialog" aria-labelledby="editChangeOrderModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editChangeOrderModalLabel">Edit Change Order Approval Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body
">
                    <form id="editChangeOrderForm">
                        
                        <div class="form-group">
                            <label for="changeOrderStatus">Status</label>
                            <select class="form-control" id="changeOrderStatus" name="status">
                                <option value="approved" {{#status}}selected {{/status}}>Approved</option>
                                <option value="rejected"{{^status}}selected {{/status}}>Not Approved</option>
                            </select>
                        </div>
                       
                        <input type="hidden" id="changeOrderId" name="id" value="{{change_order.id}}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveChangeOrderBtn">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#saveChangeOrderBtn').click(function() {

                // 0 for not approved, 1 for approved
                var status = $('#changeOrderStatus').val();
                
                

                status = (status === 'approved') ? 1 : 0;

                console.log("change order status",status);
                var formData = {
                    change_order_id: parseInt($('#changeOrderId').val()),
                    status: parseInt(status),
                }

                $.post('/updateChangeOrderStatusInternal', formData, function(response) {
                    if (response = 'success') {
                        $('#editChangeOrderModal').modal('hide');
                        location.reload();
                    } else {
                        XSAlert({
                            title: 'Error',
                            message: 'Failed to update change order status: ' + response,
                            icon: 'error',
                        });
                        
                    }
                });
            });
        });
    </script>
</div>



</body>
</html>
