
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sun Painting Estimate</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="/css/estimateStyle.css">
        <link rel="stylesheet" href="/css/bottomNavbar.css">
    <script src="/js/viewEstimateClient.js"></script>
</head>
<body>
<body>

    <nav class="bottom-navbar">
        <ul>
            <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
</body>
</html>

        
        </ul>
    </nav>
    <div class="container">

         <div class="image-container">
            <img src="/sunpainting_logo_blue.png" alt="Sun Painting Logo">
        </div>
        <p>1819 Broadway St, Charlottesville, VA 22902 US</p>
        <p>Phone: +1 434-207-2025 | Email: <a href="mailto:sales@sunpaintingva.com" style="color:#000000;">sales@sunpaintingva.com</a></p>
        <p>Website: <a href="http://www.sunpaintingva.com" style="color:#000000;">www.sunpaintingva.com</a></p>

        
         {{#takeoff}}
       <input type='hidden' id='takeoff_id' value='{{id}}'>

       <input type='hidden' id='takeoff_total' value='{{takeoff_info.total}}'>

      <h2 style="text-align:left">{{name}}</h2> </br>
    </br>
   
      Owner:  {{owner}}</br>
      Billing Address: {{owner_billing_address}}</br>
      {{created_at}}</br>

      </br>
    {{/takeoff}}

        <table id="estimate-table">
            <tr>
                <th>Description</th>


                <th>Amount</th>
            </tr>
            <tr>
                <td class="editable" id="proposal-includes">
                    Proposal Includes:
                    <ul id="includes-list"></ul>
                </td>
                <td id="includes-total">{{includes_total}}</td>
            </tr>
            <tr>
                <td class="editable" id="exclusions">
                    Exclusions & Assumptions:
                    <ul id="exclusions-list"></ul>
                </td>
                <td id="excludes-total">${{exclude_total}}</td>
            </tr>
        </table>
        <table id="options-table">
            <tr>
                <th>Description</th>


                <th>Amount</th>
            </tr>
        </table>

        <div class="total" >
            <h3 class="total" id = "subtotal">$</h3>
            <h3 class="total" id = "options-total">$</h3>
            <h3 class="total" id = "total" onchange="updateTotal()">$</h3> </br>

        </div>
    </br>

    <strong>  Prefered Start Date:</strong> <input type="date">

        <!-- no adding rows on the client -->
        <!-- <button id="add-row-btn" onclick="addOption({{estimate.takeoff_id}})">Add Row</button> -->

        <!-- Signature section with IDs for signature input -->
        <div class="signature">
            <p><em>This budget estimate is not a contract until signed and returned to Sun Painting.</em></p> </br>
            <p>
                <strong>Authorized Signature:</strong><input type="text" id="signature" value='{{takeoff.owner}}' placeholder="Sign here"><strong>  Date:</strong> <input type="date"> <i class="loader" style ="margin-bottom: -10px; margin-left:2px"></i>
                <!-- submit button that calls handleSig.. -->
                <button class="sign-btn" onclick="handleSignatureChange()">Sign</button>
            
            </p>
        </div>

        <div class="signature-success">
            
           <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"> <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/> <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                <p style="text-align:center;">Signature successfully saved!</p></svg>
        
       </div>
</body>
</html>

        <p>Thank you for allowing us to work with you!</p>
        <p>This Proposal must be signed and dated by the contracting authority for the project and must be received by Sun Painting within 30 days following the listed Proposal Date to be considered formally approved. Proposals received by Sun Painting after 30 Days may require re-pricing.</p>

        <!-- Restored Terms and Conditions Section -->
        <div class="terms-section">
            <h4> Terms and Conditions - Updated 2/28/24 </h4>

            <p><strong>General Terms:</strong> Sun Painting, LLC proposes to furnish all necessary equipment and perform the labor in a first-class, workmanlike manner according to the terms indicated in this estimate. Before starting, a deposit may be required, with the remaining due upon completion. The client agrees to pay for expenses related to collecting unpaid contract balances and agreed-upon changes.</p>

            <p>This budget proposal is a contract once signed and returned to Sun Painting. The project's contracting authority must sign and date this proposal, and it must be received by Sun Painting within 30 days following the listed Proposal Date to be considered formally approved. Proposals received by Sun Painting after 30 Days may require re-pricing.</p>

            <p>This proposal is strictly limited to the scope of work and inclusions defined within and is based solely on the supplied drawings dated as indicated in the proposal. Please contact our office to submit updated drawings or specifications for a revised estimate. This Proposal assumes reasonable site access and regular working hours (Monday through Friday, 7:00 AM to 5:00 PM). The customer has a 72-hour right to rescind after the date of acceptance.</p>

            <p><strong>Included Warranty Period:</strong> Sun Painting, LLC warrants labor and materials for a period of 1 year. Responsibility is limited to the supply of labor and materials to correct the defective condition. This warranty expressly excludes damages caused by accident/abuse, weather conditions such as temperature changes or excessive moisture, defective building materials or faulty workmanship by others. This warranty does not include adhesion failure of previously applied coatings to the surface below it.</p>

            <p><strong>Change Orders:</strong> Work crews are not authorized to complete work beyond the detailed specifications of this proposal without a written and signed contract change order. Please contact our office for an estimate on any additional work.</p>

            <p><strong>Payment and Invoicing:</strong> A 20% deposit on all approved proposals is required within three (3) business days of the signed contract. (Effective October 1, 2022) Invoices are payable upon receipt and due in full within 30 days of the Invoice Date. A finance charge of 1.5% per month is assessed on all amounts if payment is not received within 30 days of the Invoice Date. Sun Painting, LLC accepts Check, ACH Transfer, or Credit Card payments. - A 3% Convenience Fee will apply to the Invoice Total for Credit Card or ACH payments.</p>

            <ul>
                <li>Lead Paint Abatement/RRP is excluded unless explicitly stated otherwise.</li>
                <li>Asbestos Containing Material is excluded unless explicitly stated otherwise.</li>
                <li>Mold Remediation is excluded unless explicitly stated otherwise.</li>
                <li>Multi-color-surface paint schemes are excluded unless explicitly stated otherwise.</li>
                <li>Concrete grinding or other surface preparation is excluded unless explicitly stated otherwise.</li>
                <li>Assumes no more than five (5) paint colors and/or finishes unless otherwise stated within the proposal estimate.</li>
                <li>Drywall repairs and undue surface preparation (Assumes minimum Level 4 Drywall finish clean and free of dirt/debris.)</li>
                <li>Paint samples are limited to five (5) total samples (each color and each finish are considered a sample). Additional sample trips will be charged as time and material and will be in addition to any estimate or proposed costs.</li>
                <li>Changes to selections (paint color, finishes, materials, etc.) made after the material is purchased will be subject to a 25% restocking fee.</li>
            </ul>
        </div>

    
    </div>
    <br>

</body>
</html>
