
/*
  navbar.css: navbar-specific style
*/

.img-button-client {
    background-color: #FA8847;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 6px 4px;
    cursor: pointer;
}

/* containing navbar div */
.bottom-navbar {
    position: fixed;
    padding: 10px;
    float:left;
    bottom: 0;
    width: 15%;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.74);
    z-index: 3;
  }
  
  /* make all navbar content non-highlightable */
  .botton-navbar * {
    user-select: none;
  }
  
  /* list containing all links */
  .bottom-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  /* navbar list elements */
  .bottom-navbar li {
    float:left;
  }
  
  /* navbar link style */
  .bottom-navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
  }
  
  .bottom-navbar .dropdown {
    display: block;
    color: black;
    text-align: center;
    padding: 10 px 16px;
    text-decoration: none;
  }
  
  /* highlight and change cursor when navbar links hovered */
  .bottom-navbar li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  /* push text titles for each link away from their icons */
  .bottom-navbar li a i {
    margin-left: 3px;
  }
  
  /* container for page content on all pages with navbar */
  .container {
    margin-top: 60px;
  }

  .shareClientBtn {
    background-color: #0893A1;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 6px 4px;
    cursor: pointer;
  }