body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dddddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3, h4 {
    text-align: center;
    color: #333;
}

.address, .estimate-info, .total {
    margin-top: 20px;
    color: #555;
}

.estimate-info strong, .address strong, .total strong {
    color: #000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fcfcfc;
}

.total {
    text-align: right;
    position: relative;
}

.image-container {
    float:right;
    text-align: center;
    margin-top: 20px;
}

.image-container img {
    max-width: 300px;
    height: auto;
}

/* Editable Description Area */
.editable {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    min-height: 50px;
}

.editable:focus {
    outline: none;
    border-color: #007bff;
}

/* Hover item (tooltip) for totals */
.total:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -10px;
    right: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

.tooltip ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.tooltip ul li {
    margin-bottom: 5px;
}

/* Signature Section */
.signature {
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}

.signature p {
    font-size: 0.9em;

    color: black;
}
#signature {
    font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}
.sign-btn {
    background-color: #f48847;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 6px 4px;
    cursor: pointer;
}

/* Notice section */
.notice {
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
}

.notice p {
    margin-bottom: 15px;
    color: #444;
}

/* Terms and Conditions section */
.terms-section {
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
    margin-top: 40px;
    margin-bottom: 225px;
}

.terms-section h4 {
    margin-bottom: 20px;
}

.terms-section p {
    margin-bottom: 15px;
    color: #444;
}

.terms-section ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #444;
}

.loader {

    display:inline-block;

  border-top: 8px solid #F8B348;
  border-right: 8px solid #0893A1;
  border-bottom: 8px solid #EA4C42;
  border-left: 8px solid #f48847;
  border-radius: 25%;
   border-radius: 10%;
  width: 15px;
  height: 15px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); border-radius: 10%;}
  
  50% { transform: rotate(180deg); border-radius: 100%;}

  100% { transform: rotate(360deg); border-radius: 10%;}
}




/* Input Styles for Signature */
input[type="text"], input[type="date"] {
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 1em;
    width: 200px;
}

input[type="text"]:focus, input[type="date"]:focus {
    outline: none;
    border-color: #007bff;
}

/* Print styles */
@media print {
    body, .container {
        margin: 0;
        padding: 0;
        width: 98%;
    }

    .container {
        border: none;
        box-shadow: none;
        padding: 10px;
    }

    .image-container img {
        max-width: 150px;
        float: right;
    }

    h2, h3 {
        font-size: 1.2em;
    }

    table, th, td {
        border: 1px solid #000;
        padding: 8px;
        font-size: 0.8em;
    }

    .address, .estimate-info, .total {
        font-size: 0.9em;
    }

    .total strong {
        font-size: 1em;
    }

    .signature p {
        font-size: 0.9em;
        color: black;
    }
}


/* 
* {
  padding: 0;
  margin: 0;
} */

  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  .checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill 0.4s ease-in-out 0.4s forwards,
      scale 0.3s ease-in-out 0.9s both;
  }
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%,
    100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }
  
  #add-row-btn {
    background-color: #f48847;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 6px 4px;
    cursor: pointer;
  }

  .input-group {
    /* style for text input boxes */
    margin-bottom: 10px;
    margin-left: 50px;
    

  }

  .input-group input {
    display:block;
    width: 360px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
  }

  /* Table styles */
    #estimate-table {
        width: 100%; /* Make the table take up the full width of the container */
        border-collapse: collapse; /* Remove extra spaces between table cells */
    }

    #estimate-table th,
    #estimate-table td {
        padding: 10px; /* Add padding for better readability */
        text-align: left; /* Align text to the left */
        border: 1px solid #ddd; /* Add borders to define table cells */
        word-wrap: break-word; /* Ensure text doesn't overflow cells */
    }

    /* Ensure headers stay fixed if table is wide */
    #estimate-table th {
        background-color: #f9f9f9; /* Light background for header */
        position: sticky;
        top: 0; /* Keep the header on top while scrolling */
        z-index: 1;
    }
    /* the button to pay with credit Card */

    #pay-now-button {
   
    background-color: #0893A1;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 6px 4px;
    cursor: pointer;
    
    }