body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container,
.invoice-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-container input,
.form-container select {
    width: 96%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
}

.form-container button {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    width: 45%;
    background-color: #0893A1;
    color: white;
    border: none;  
 }

.form-container button:hover {
    background-color: #056b74;
}

.invoice-info {
    margin-bottom: 20px;
}

.invoice-info p {
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.timeline {
    margin-top: 30px;
}

.timeline ul {
    list-style: none;
    padding: 0;
}

.timeline ul li {
    padding: 10px 20px;
    border-left: 3px solid #0893A1;
    margin-bottom: 10px;
    position: relative;
}

.timeline ul li:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #0893A1;
    border-radius: 50%;
    position: absolute;
    left: -8px;
    top: 10px;
}

.timeline ul li span {
    font-weight: bold;
}

.timeline ul li p {
    margin: 0;
}

#share-with-customer {
    /* button style blue */
    background-color: #0893A1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}


#push-to-quickbooks {
    /* button style blue */
    background-color: #0893A1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}
